In [1]:
# Project 1 
import pandas as pd
import numpy as np

disaster_data = "../Project1_Data/us_disaster_declarations.csv"
pollution_data = "../Project1_Data/pollution_us_2000_2016.csv"

disaster_df = pd.read_csv(disaster_data)
pollution_df = pd.read_csv(pollution_data)

disaster_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T04:00:00Z,1953-05-02T04:00:00Z,1954-06-01T04:00:00Z,13000,0,Statewide,53013,2f28952448e0a666d367ca3f854c81ec,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4342
1,DR-2-TX,2,TX,DR,1953-05-15T04:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T04:00:00Z,1953-05-15T04:00:00Z,1958-01-01T05:00:00Z,48000,0,Statewide,53003,c5a1a4a1030d6730d9c562cdbe7c830f,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4345
2,DR-3-LA,3,LA,DR,1953-05-29T04:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T04:00:00Z,1953-05-29T04:00:00Z,1960-02-01T05:00:00Z,22000,0,Statewide,53005,745948932fd77a7c6dcd4de7059ff080,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4354
3,DR-4-MI,4,MI,DR,1953-06-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T04:00:00Z,1953-06-02T04:00:00Z,1956-02-01T05:00:00Z,26000,0,Statewide,53004,8c9dee13124e36a9dfe2eb74e33fafad,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4357
4,DR-5-MT,5,MT,DR,1953-06-06T04:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T04:00:00Z,1953-06-06T04:00:00Z,1955-12-01T05:00:00Z,30000,0,Statewide,53006,59c5483387ca13c6a3c1bc692f4860e1,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4348

In [2]:
# drop rows of data for dates prior to the year 2000
disaster_df.drop(disaster_df[disaster_df["fy_declared"] < 2000].index, inplace=True)
disaster_df

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
19525,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12011,99011,Broward (County),99136,59a1eb8ba142005dcbf33abaaa9d1fda,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc30
19526,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12027,99027,DeSoto (County),99136,b489a43931f6c46e5a04051375d758e2,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc34
19527,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12009,99009,Brevard (County),99136,849ba935e1f291b13aae6fcfef7d8db1,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc37
19528,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12035,99035,Flagler (County),99136,52bb06d7ffa2cd0014047885e6f3f909,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc39
19529,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12021,99021,Collier (County),99136,064829aeefb981b71f4d539f5e5857cc,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc3d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60246,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37137,99137,Pamlico (County),20298,0e7b0b42e89b041b7bbec62323c4a400,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d474
60247,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37147,99147,Pitt (County),20298,f26a5ab9fb5ada030084e08c02969f00,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d47d
60248,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37141,99141,Pender (County),20298,2e376c4f57759678e7d8a750227bd86f,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d484
60249,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37031,99031,Carteret (County),20298,7982ea0365828be377ce32684967e650,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d44b
60250,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37129,99129,New Hanover (County),20298,b654bca9452e8cbd066f69b84b52574b,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d46c

In [48]:
disaster_df_clean = disaster_df.drop(['fema_declaration_string', 'ih_program_declared', 
                              'ia_program_declared', 'pa_program_declared', 
                              'hash', 'declaration_request_number', 'id',
                              'designated_area', 'hm_program_declared', 'place_code',
                              'fips', 'last_refresh', 'declaration_date', 'declaration_type', 
                                'disaster_closeout_date', 'incident_end_date', 'fy_declared', 'declaration_title'], axis=1)
disaster_df_clean.head()

       disaster_number state incident_type   incident_begin_date
19525             3150    FL     Hurricane  1999-10-14T15:00:00Z
19526             3150    FL     Hurricane  1999-10-14T15:00:00Z
19527             3150    FL     Hurricane  1999-10-14T15:00:00Z
19528             3150    FL     Hurricane  1999-10-14T15:00:00Z
19529             3150    FL     Hurricane  1999-10-14T15:00:00Z

In [49]:
disaster_df_clean['incident_begin_date'] = disaster_df_clean['incident_begin_date'].astype(str).str.slice(stop=4)

disaster_df_clean

       disaster_number state incident_type incident_begin_date
19525             3150    FL     Hurricane                1999
19526             3150    FL     Hurricane                1999
19527             3150    FL     Hurricane                1999
19528             3150    FL     Hurricane                1999
19529             3150    FL     Hurricane                1999
...                ...   ...           ...                 ...
60246             4568    NC     Hurricane                2020
60247             4568    NC     Hurricane                2020
60248             4568    NC     Hurricane                2020
60249             4568    NC     Hurricane                2020
60250             4568    NC     Hurricane                2020

[40726 rows x 4 columns]

In [50]:
# drop duplicate instances of natural disasters
disaster_clean = disaster_df_clean.drop_duplicates(subset='disaster_number', keep="first", inplace=False)
states_k = ['CA', 'TX', 'OK','FL', 'CO']
disaster_clean = disaster_clean[disaster_clean['state'].isin(states_k)==True]

disaster_clean

       disaster_number state incident_type incident_begin_date
19525             3150    FL     Hurricane                1999
19559             1306    FL     Hurricane                1999
19578             2286    TX          Fire                1999
19678             2287    TX          Fire                1999
19683             2289    TX          Fire                2000
...                ...   ...           ...                 ...
59909             5374    CA          Fire                2020
60087             3546    FL     Hurricane                2020
60114             4564    FL     Hurricane                2020
60130             5376    CA          Fire                2020
60132             5377    CA          Fire                2020

[774 rows x 4 columns]

In [51]:
disaster_clean = disaster_clean.drop(['disaster_number'], axis=1)
disaster_clean

      state incident_type incident_begin_date
19525    FL     Hurricane                1999
19559    FL     Hurricane                1999
19578    TX          Fire                1999
19678    TX          Fire                1999
19683    TX          Fire                2000
...     ...           ...                 ...
59909    CA          Fire                2020
60087    FL     Hurricane                2020
60114    FL     Hurricane                2020
60130    CA          Fire                2020
60132    CA          Fire                2020

[774 rows x 3 columns]

In [52]:

incident_keep = ['Fire', 'Severe Storm(s)', 'Hurricane','Flood', 'Severe Ice Storm']
disaster_clean = disaster_clean[disaster_clean['incident_type'].isin(incident_keep)==True]
#disaster_clean['incident_type'].value_counts()
disaster_clean = disaster_clean.iloc[4:]
disaster_clean

      state incident_type incident_begin_date
19683    TX          Fire                2000
19684    TX          Fire                2000
19685    TX          Fire                2000
20031    FL          Fire                2000
20111    FL          Fire                2000
...     ...           ...                 ...
59909    CA          Fire                2020
60087    FL     Hurricane                2020
60114    FL     Hurricane                2020
60130    CA          Fire                2020
60132    CA          Fire                2020

[721 rows x 3 columns]

In [57]:
disaster_clean = disaster_clean.rename(columns={'state': 'State', 
                                                'incident_type': 'Natural Disaster',
                                               'incident_begin_date': 'Year'})
disaster_clean = disaster_clean.reset_index(drop=True)
disaster_clean

    State Natural Disaster  Year
0      TX             Fire  2000
1      TX             Fire  2000
2      TX             Fire  2000
3      FL             Fire  2000
4      FL             Fire  2000
..    ...              ...   ...
716    CA             Fire  2020
717    FL        Hurricane  2020
718    FL        Hurricane  2020
719    CA             Fire  2020
720    CA             Fire  2020

[721 rows x 3 columns]

In [9]:
pollution_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [27]:
pollution_df_clean = pollution_df.drop(['State Code', 'County Code', 'Site Num', 'Address',
                                        'County', 'City', 'NO2 1st Max Hour', 'O3 1st Max Hour',
                                        'SO2 1st Max Hour', 'CO 1st Max Hour', 'NO2 1st Max Value',
                                        'O3 1st Max Value', 'SO2 1st Max Value', 'CO 1st Max Value',
                                        'NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI'], axis=1)
pollution_df_clean = pollution_df_clean.loc[:, ~pollution_df_clean.columns.str.contains('^Unnamed')]
pollution_df_clean

,State,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
1,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
3,Arizona,2000-01-01,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
4,Arizona,2000-01-02,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000
...,...,...,...,...,...,...,...,...,...,...
1746656,Wyoming,2016-03-30,Parts per billion,1.083333,Parts per million,0.043917,Parts per billion,0.000000,Parts per million,0.091667
1746657,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,Parts per million,0.067714
1746658,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,Parts per million,0.100000
1746659,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,0.000000,Parts per million,0.067714
1746660,Wyoming,2016-03-31,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,0.000000,Parts per million,0.100000

In [28]:
pollution_df_clean['Date Local'] = pd.to_numeric(pollution_df_clean['Date Local'].str.replace('-',''))
#pollution_by_state = pollution_df_clean.groupby(['State'])['NO2 Mean'].mean()
pollution_df_clean

,State,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,Arizona,20000101,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,1.145833
1,Arizona,20000101,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,3.000000,Parts per million,0.878947
2,Arizona,20000101,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,1.145833
3,Arizona,20000101,Parts per billion,19.041667,Parts per million,0.022500,Parts per billion,2.975000,Parts per million,0.878947
4,Arizona,20000102,Parts per billion,22.958333,Parts per million,0.013375,Parts per billion,1.958333,Parts per million,0.850000
...,...,...,...,...,...,...,...,...,...,...
1746656,Wyoming,20160330,Parts per billion,1.083333,Parts per million,0.043917,Parts per billion,0.000000,Parts per million,0.091667
1746657,Wyoming,20160331,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,Parts per million,0.067714
1746658,Wyoming,20160331,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,-0.022727,Parts per million,0.100000
1746659,Wyoming,20160331,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,0.000000,Parts per million,0.067714
1746660,Wyoming,20160331,Parts per billion,0.939130,Parts per million,0.045263,Parts per billion,0.000000,Parts per million,0.100000

In [59]:
pollution_df_clean.set_index('State')
#pollution_df_clean.drop(pollution_df_clean['State'] == 'Wyoming')
st = pollution_df_clean.loc[:, 'State']
#st
pollution_df_clean.drop(pollution_df_clean[pollution_df_clean['State'] == 'Wyoming'].index, inplace = True)
#pollution_df_clean

#state_drop = ['Ohio', 'Massachusetts', 'Hawaii', 'Missouri', 'Washington', 'Kentucky', 'Indiana', 'Wyoming', 'Oregon', 'North Dakota', 'Nevada', 'Country Of Mexico', 'New Hampshire', 'Utah', 'South Dakota', 'Michigan', 'Georgia', 'New Mexico', 'South Carolina', 'Rhode Island', 'Tennessee', 'Delaware', 'Minnesota', 'Alabama', 'Alaska', 'Idaho', 'Wisconsin']
state_keep = ['California', 'Texas', 'Oklahoma', 'Florida', 'Colorado']
newdf = pollution_df_clean[pollution_df_clean['State'].isin(state_keep)==True]
pol_df_clean = newdf
pol_df_clean = pol_df_clean.rename(columns={'Date Local': 'Date'})
pol_df_clean = pol_df_clean.reset_index(drop=True)
pol_df_clean

,State,Date,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.556522
1,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.572222
2,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.556522
3,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.572222
4,California,20000102,Parts per billion,16.043478,Parts per million,0.015292,Parts per billion,1.000000,Parts per million,0.578261
...,...,...,...,...,...,...,...,...,...,...
794871,Texas,20160429,Parts per billion,1.325000,Parts per million,0.027125,Parts per billion,0.542857,Parts per million,0.200000
794872,Texas,20160430,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.129167
794873,Texas,20160430,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.133333
794874,Texas,20160430,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.129167
794875,Texas,20160430,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.133333

In [60]:
states = pol_df_clean['State'].unique()
states

array(['California', 'Colorado', 'Florida', 'Oklahoma', 'Texas'],
      dtype=object)

In [61]:
NO2 = pol_df_clean.iloc[:, 0:5]
NO2

             State      Date          NO2 Units   NO2 Mean           O3 Units
0       California  20000101  Parts per billion  14.782609  Parts per million
1       California  20000101  Parts per billion  14.782609  Parts per million
2       California  20000101  Parts per billion  14.782609  Parts per million
3       California  20000101  Parts per billion  14.782609  Parts per million
4       California  20000102  Parts per billion  16.043478  Parts per million
...            ...       ...                ...        ...                ...
794871       Texas  20160429  Parts per billion   1.325000  Parts per million
794872       Texas  20160430  Parts per billion   2.670833  Parts per million
794873       Texas  20160430  Parts per billion   2.670833  Parts per million
794874       Texas  20160430  Parts per billion   2.670833  Parts per million
794875       Texas  20160430  Parts per billion   2.670833  Parts per million

[794876 rows x 5 columns]

In [64]:
O3 = pol_df_clean.loc[:, ["State", "Date", "O3 Units", "O3 Mean"]]
O3

             State      Date           O3 Units   O3 Mean
0       California  20000101  Parts per million  0.015542
1       California  20000101  Parts per million  0.015542
2       California  20000101  Parts per million  0.015542
3       California  20000101  Parts per million  0.015542
4       California  20000102  Parts per million  0.015292
...            ...       ...                ...       ...
794871       Texas  20160429  Parts per million  0.027125
794872       Texas  20160430  Parts per million  0.030889
794873       Texas  20160430  Parts per million  0.030889
794874       Texas  20160430  Parts per million  0.030889
794875       Texas  20160430  Parts per million  0.030889

[794876 rows x 4 columns]

In [65]:
SO2 = pol_df_clean.loc[:, ["State", "Date", "SO2 Units", "SO2 Mean"]]
SO2

             State      Date          SO2 Units  SO2 Mean
0       California  20000101  Parts per billion  0.636364
1       California  20000101  Parts per billion  0.636364
2       California  20000101  Parts per billion  0.600000
3       California  20000101  Parts per billion  0.600000
4       California  20000102  Parts per billion  1.000000
...            ...       ...                ...       ...
794871       Texas  20160429  Parts per billion  0.542857
794872       Texas  20160430  Parts per billion -0.188235
794873       Texas  20160430  Parts per billion -0.188235
794874       Texas  20160430  Parts per billion -0.166667
794875       Texas  20160430  Parts per billion -0.166667

[794876 rows x 4 columns]

In [66]:
CO = pol_df_clean.loc[:, ["State", "Date", "CO Units", "CO Mean"]]
CO

             State      Date           CO Units   CO Mean
0       California  20000101  Parts per million  0.556522
1       California  20000101  Parts per million  0.572222
2       California  20000101  Parts per million  0.556522
3       California  20000101  Parts per million  0.572222
4       California  20000102  Parts per million  0.578261
...            ...       ...                ...       ...
794871       Texas  20160429  Parts per million  0.200000
794872       Texas  20160430  Parts per million  0.129167
794873       Texas  20160430  Parts per million  0.133333
794874       Texas  20160430  Parts per million  0.129167
794875       Texas  20160430  Parts per million  0.133333

[794876 rows x 4 columns]

In [67]:
year_2000 = CO.loc[CO['Date'] < 20010000, :]
year_2000

            State      Date           CO Units   CO Mean
0      California  20000101  Parts per million  0.556522
1      California  20000101  Parts per million  0.572222
2      California  20000101  Parts per million  0.556522
3      California  20000101  Parts per million  0.572222
4      California  20000102  Parts per million  0.578261
...           ...       ...                ...       ...
42769       Texas  20001230  Parts per million  0.441667
42770       Texas  20001231  Parts per million  0.422727
42771       Texas  20001231  Parts per million  0.575000
42772       Texas  20001231  Parts per million  0.422727
42773       Texas  20001231  Parts per million  0.575000

[42774 rows x 4 columns]

In [37]:
yr2000_state_CO = year_2000.groupby('State')['CO Mean'].mean()
yr2000_state_CO

State
California    0.644488
Colorado      0.611388
Florida       0.725072
Oklahoma      0.047977
Texas         0.436668
Name: CO Mean, dtype: float64

In [38]:


#test = yr2000.groupby('State')['NO2 Mean'].mean()
#test

State
California    17.580989
Colorado      14.902469
Florida       12.453038
Oklahoma       4.770656
Texas         16.346748
Name: NO2 Mean, dtype: float64

In [21]:
#ca_co_2000 = round(cali2000['CO Mean'].mean(), 2)


#gas_list = ['NO2 Mean', 'O3 Mean', 'SO2 Mean', 'CO Mean']
#ca_co_2000

0.64

In [39]:
#ca = pol_df_clean[(pol_df_clean['State'] == 'California')]
#ca

,State,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
3516,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.556522
3517,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.572222
3518,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.556522
3519,California,20000101,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.572222
3520,California,20000102,Parts per billion,16.043478,Parts per million,0.015292,Parts per billion,1.000000,Parts per million,0.578261
...,...,...,...,...,...,...,...,...,...,...
1729192,California,20160429,Parts per billion,3.643478,Parts per million,0.032417,Parts per billion,0.457143,Parts per million,0.262500
1729193,California,20160430,Parts per billion,4.160870,Parts per million,0.038053,Parts per billion,0.468182,Parts per million,0.247826
1729194,California,20160430,Parts per billion,4.160870,Parts per million,0.038053,Parts per billion,0.468182,Parts per million,0.245833
1729195,California,20160430,Parts per billion,4.160870,Parts per million,0.038053,Parts per billion,0.442857,Parts per million,0.247826
1729196,California,20160430,Parts per billion,4.160870,Parts per million,0.038053,Parts per billion,0.442857,Parts per million,0.245833

In [68]:
# clean date to just get the year
pol_df_clean['Date'] = pol_df_clean['Date'].astype(str).str.slice(stop=4)
pol_df_clean

,State,Date,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.556522
1,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.572222
2,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.556522
3,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.572222
4,California,2000,Parts per billion,16.043478,Parts per million,0.015292,Parts per billion,1.000000,Parts per million,0.578261
...,...,...,...,...,...,...,...,...,...,...
794871,Texas,2016,Parts per billion,1.325000,Parts per million,0.027125,Parts per billion,0.542857,Parts per million,0.200000
794872,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.129167
794873,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.133333
794874,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.129167
794875,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.133333

In [69]:
no2mean = pol_df_clean.groupby(by=['State','Date'])['NO2 Mean'].mean()
no2mean

State       Date
California  2000    17.580989
            2001    17.760822
            2002    16.755128
            2003    15.794642
            2004    15.151141
                      ...
Texas       2012    10.316445
            2013     9.571833
            2014     9.534497
            2015     9.252533
            2016    10.357079
Name: NO2 Mean, Length: 85, dtype: float64

In [70]:
o3mean = pol_df_clean.groupby(by=['State','Date'])['O3 Mean'].mean()
#o3mean
so2mean = pol_df_clean.groupby(by=['State','Date'])['SO2 Mean'].mean()
comean = pol_df_clean.groupby(by=['State','Date'])['CO Mean'].mean()

In [71]:
comean

State       Date
California  2000    0.644488
            2001    0.622149
            2002    0.601791
            2003    0.575379
            2004    0.517947
                      ...
Texas       2012    0.182515
            2013    0.175513
            2014    0.178338
            2015    0.207629
            2016    0.227267
Name: CO Mean, Length: 85, dtype: float64

In [72]:
#yr2000 = pol_df_clean[(pol_df_clean['Date'] < 20010000)]
#yr2001 = pol_df_clean[(pol_df_clean['Date'] < 20020000) & (pol_df_clean['Date'] > 20010000)]
#yr2002 = pol_df_clean[(pol_df_clean['Date'] < 20030000) & (pol_df_clean['Date'] > 20020000)]
#yr2003 = pol_df_clean[(pol_df_clean['Date'] < 20040000) & (pol_df_clean['Date'] > 20030000)]
#yr2004 = pol_df_clean[(pol_df_clean['Date'] < 20050000) & (pol_df_clean['Date'] > 20040000)]
#yr2005 = pol_df_clean[(pol_df_clean['Date'] < 20060000) & (pol_df_clean['Date'] > 20050000)]
#yr2006 = pol_df_clean[(pol_df_clean['Date'] < 20070000) & (pol_df_clean['Date'] > 20060000)]
#yr2007 = pol_df_clean[(pol_df_clean['Date'] < 20080000) & (pol_df_clean['Date'] > 20070000)]
#yr2008 = pol_df_clean[(pol_df_clean['Date'] < 20090000) & (pol_df_clean['Date'] > 20080000)]
#yr2009 = pol_df_clean[(pol_df_clean['Date'] < 20100000) & (pol_df_clean['Date'] > 20090000)]
#yr2010 = pol_df_clean[(pol_df_clean['Date Local'] < 20110000) & (pol_df_clean['Date Local'] > 20100000)]
#yr2011 = pol_df_clean[(pol_df_clean['Date Local'] < 20120000) & (pol_df_clean['Date Local'] > 20110000)]
#yr2012 = pol_df_clean[(pol_df_clean['Date Local'] < 20130000) & (pol_df_clean['Date Local'] > 20120000)]
#yr2013 = pol_df_clean[(pol_df_clean['Date Local'] < 20140000) & (pol_df_clean['Date Local'] > 20130000)]
#yr2014 = pol_df_clean[(pol_df_clean['Date Local'] < 20150000) & (pol_df_clean['Date Local'] > 20140000)]
#yr2015 = pol_df_clean[(pol_df_clean['Date Local'] < 20160000) & (pol_df_clean['Date Local'] > 20150000)]
#yr2016 = pol_df_clean[(pol_df_clean['Date Local'] < 20170000) & (pol_df_clean['Date Local'] > 20160000)]


#cali2000 = yr2000[(yr2000['State'] == 'California')]
#yr_2016_CO = yr2016.groupby('State')['CO Mean'].mean()
#yr_2016_NO2 = yr2016.groupby('State')['NO2 Mean'].mean()
#yr_2016_O3 = yr2016.groupby('State')['O3 Mean'].mean()
#yr_2016_SO2 = yr2016.groupby('State')['SO2 Mean'].mean()
#cali2000
pol_df_clean

,State,Date,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.556522
1,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.572222
2,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.556522
3,California,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.572222
4,California,2000,Parts per billion,16.043478,Parts per million,0.015292,Parts per billion,1.000000,Parts per million,0.578261
...,...,...,...,...,...,...,...,...,...,...
794871,Texas,2016,Parts per billion,1.325000,Parts per million,0.027125,Parts per billion,0.542857,Parts per million,0.200000
794872,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.129167
794873,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.133333
794874,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.129167
794875,Texas,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.133333

In [76]:
pol_df_clean.State = pol_df_clean.State.replace('California', 'CA')
pol_df_clean.State = pol_df_clean.State.replace('Texas', 'TX')
pol_df_clean.State = pol_df_clean.State.replace('Florida', 'FL')
pol_df_clean.State = pol_df_clean.State.replace('Oklahoma', 'OK')
pol_df_clean.State = pol_df_clean.State.replace('Colorado', 'CO')
pol_df_clean

,State,Date,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,CA,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.556522
1,CA,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.636364,Parts per million,0.572222
2,CA,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.556522
3,CA,2000,Parts per billion,14.782609,Parts per million,0.015542,Parts per billion,0.600000,Parts per million,0.572222
4,CA,2000,Parts per billion,16.043478,Parts per million,0.015292,Parts per billion,1.000000,Parts per million,0.578261
...,...,...,...,...,...,...,...,...,...,...
794871,TX,2016,Parts per billion,1.325000,Parts per million,0.027125,Parts per billion,0.542857,Parts per million,0.200000
794872,TX,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.129167
794873,TX,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.133333
794874,TX,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.129167
794875,TX,2016,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.133333

In [73]:
disaster_clean

    State Natural Disaster  Year
0      TX             Fire  2000
1      TX             Fire  2000
2      TX             Fire  2000
3      FL             Fire  2000
4      FL             Fire  2000
..    ...              ...   ...
716    CA             Fire  2020
717    FL        Hurricane  2020
718    FL        Hurricane  2020
719    CA             Fire  2020
720    CA             Fire  2020

[721 rows x 3 columns]

In [78]:
disaster_clean['Natural Disaster'].value_counts()

Fire                575
Severe Storm(s)      74
Hurricane            44
Flood                18
Severe Ice Storm     10
Name: Natural Disaster, dtype: int64

In [82]:
ca_disaster = disaster_clean[(disaster_clean['State'] == 'CA')]
tx_disaster = disaster_clean[(disaster_clean['State'] == 'TX')]
fl_disaster = disaster_clean[(disaster_clean['State'] == 'FL')]
ok_disaster = disaster_clean[(disaster_clean['State'] == 'OK')]
co_disaster = disaster_clean[(disaster_clean['State'] == 'CO')]

ca_disaster

    State Natural Disaster  Year
56     CA             Fire  2002
60     CA             Fire  2002
65     CA             Fire  2002
71     CA             Fire  2002
76     CA             Fire  2002
..    ...              ...   ...
714    CA             Fire  2020
715    CA             Fire  2020
716    CA             Fire  2020
719    CA             Fire  2020
720    CA             Fire  2020

[256 rows x 3 columns]

In [83]:
co_disaster

    State Natural Disaster  Year
13     CO             Fire  2000
14     CO             Fire  2000
27     CO             Fire  2000
49     CO  Severe Storm(s)  2001
54     CO             Fire  2001
..    ...              ...   ...
643    CO             Fire  2018
644    CO             Fire  2018
703    CO             Fire  2020
704    CO             Fire  2020
711    CO             Fire  2020

[68 rows x 3 columns]

In [84]:
fl_disaster

    State Natural Disaster  Year
3      FL             Fire  2000
4      FL             Fire  2000
5      FL             Fire  2000
6      FL             Fire  2000
7      FL             Fire  2000
..    ...              ...   ...
694    FL             Fire  2020
695    FL             Fire  2020
697    FL        Hurricane  2020
717    FL        Hurricane  2020
718    FL        Hurricane  2020

[77 rows x 3 columns]

In [85]:
ok_disaster

    State  Natural Disaster  Year
29     OK              Fire  2000
30     OK              Fire  2000
31     OK              Fire  2000
35     OK   Severe Storm(s)  2000
36     OK  Severe Ice Storm  2000
..    ...               ...   ...
672    OK   Severe Storm(s)  2019
674    OK   Severe Storm(s)  2019
690    OK              Fire  2019
691    OK              Fire  2019
692    OK              Fire  2020

[141 rows x 3 columns]

In [86]:
tx_disaster

    State Natural Disaster  Year
0      TX             Fire  2000
1      TX             Fire  2000
2      TX             Fire  2000
15     TX             Fire  2000
16     TX             Fire  2000
..    ...              ...   ...
673    TX            Flood  2019
675    TX             Fire  2019
678    TX            Flood  2019
696    TX        Hurricane  2020
709    TX        Hurricane  2020

[179 rows x 3 columns]

In [87]:
tx_disaster['Natural Disaster'].value_counts()

Fire                147
Hurricane            14
Severe Storm(s)       9
Flood                 8
Severe Ice Storm      1
Name: Natural Disaster, dtype: int64

In [90]:
fl_disaster['Year'].value_counts()

2000    12
2001    10
2017     8
2007     7
2020     6
2005     5
2008     5
2004     4
2009     3
2019     3
2016     3
2006     2
2018     2
2012     2
2003     2
2013     1
2014     1
2011     1
Name: Year, dtype: int64