In [2]:
# Project 1 
import pandas as pd
import numpy as np

disaster_data = "../Project1_Data/us_disaster_declarations.csv"
pollution_data = "../Project1_Data/pollution_us_2000_2016.csv"

disaster_df = pd.read_csv(disaster_data)
pollution_df = pd.read_csv(pollution_data)

disaster_df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T04:00:00Z,1953-05-02T04:00:00Z,1954-06-01T04:00:00Z,13000,0,Statewide,53013,2f28952448e0a666d367ca3f854c81ec,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4342
1,DR-2-TX,2,TX,DR,1953-05-15T04:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T04:00:00Z,1953-05-15T04:00:00Z,1958-01-01T05:00:00Z,48000,0,Statewide,53003,c5a1a4a1030d6730d9c562cdbe7c830f,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4345
2,DR-3-LA,3,LA,DR,1953-05-29T04:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T04:00:00Z,1953-05-29T04:00:00Z,1960-02-01T05:00:00Z,22000,0,Statewide,53005,745948932fd77a7c6dcd4de7059ff080,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4354
3,DR-4-MI,4,MI,DR,1953-06-02T04:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T04:00:00Z,1953-06-02T04:00:00Z,1956-02-01T05:00:00Z,26000,0,Statewide,53004,8c9dee13124e36a9dfe2eb74e33fafad,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4357
4,DR-5-MT,5,MT,DR,1953-06-06T04:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T04:00:00Z,1953-06-06T04:00:00Z,1955-12-01T05:00:00Z,30000,0,Statewide,53006,59c5483387ca13c6a3c1bc692f4860e1,2020-10-05T14:21:20Z,5f7b2be031a8c6681cfb4348

In [4]:
# drop rows of data for dates prior to the year 2000
disaster_df.drop(disaster_df[disaster_df["fy_declared"] < 2000].index, inplace=True)
disaster_df

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
19525,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12011,99011,Broward (County),99136,59a1eb8ba142005dcbf33abaaa9d1fda,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc30
19526,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12027,99027,DeSoto (County),99136,b489a43931f6c46e5a04051375d758e2,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc34
19527,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12009,99009,Brevard (County),99136,849ba935e1f291b13aae6fcfef7d8db1,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc37
19528,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12035,99035,Flagler (County),99136,52bb06d7ffa2cd0014047885e6f3f909,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc39
19529,EM-3150-FL,3150,FL,EM,1999-10-15T22:15:00Z,2000,Hurricane,Tropical Storm Irene - Florida,0,0,...,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z,12021,99021,Collier (County),99136,064829aeefb981b71f4d539f5e5857cc,2020-10-05T14:22:05Z,5f7b2c0d31a8c6681cfdcc3d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60246,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37137,99137,Pamlico (County),20298,0e7b0b42e89b041b7bbec62323c4a400,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d474
60247,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37147,99147,Pitt (County),20298,f26a5ab9fb5ada030084e08c02969f00,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d47d
60248,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37141,99141,Pender (County),20298,2e376c4f57759678e7d8a750227bd86f,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d484
60249,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37031,99031,Carteret (County),20298,7982ea0365828be377ce32684967e650,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d44b
60250,DR-4568-NC,4568,NC,DR,2020-10-14T14:25:00Z,2021,Hurricane,Hurricane Isaias,0,0,...,2020-08-01T01:46:00Z,2020-08-05T03:59:00Z,NaN,37129,99129,New Hanover (County),20298,b654bca9452e8cbd066f69b84b52574b,2020-10-14T17:42:00Z,5f8738680eb5d36238c6d46c

In [22]:
disaster_df_clean = disaster_df.drop(['fema_declaration_string', 'ih_program_declared', 
                              'ia_program_declared', 'pa_program_declared', 
                              'hash', 'declaration_request_number', 'id',
                              'designated_area', 'hm_program_declared', 'place_code',
                              'fips', 'last_refresh', 'declaration_date', 'declaration_type'], axis=1)
disaster_df_clean.head()

,disaster_number,state,fy_declared,incident_type,declaration_title,incident_begin_date,incident_end_date,disaster_closeout_date
19525,3150,FL,2000,Hurricane,Tropical Storm Irene - Florida,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z
19526,3150,FL,2000,Hurricane,Tropical Storm Irene - Florida,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z
19527,3150,FL,2000,Hurricane,Tropical Storm Irene - Florida,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z
19528,3150,FL,2000,Hurricane,Tropical Storm Irene - Florida,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z
19529,3150,FL,2000,Hurricane,Tropical Storm Irene - Florida,1999-10-14T15:00:00Z,1999-10-19T04:00:00Z,2010-04-26T04:00:00Z

In [15]:
pollution_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [23]:
pollution_df_clean = pollution_df.drop(['State Code', 'County Code', 'Site Num', 'Address',
                                        'County', 'City'], axis=1)
pollution_df_clean = pollution_df_clean.loc[:, ~pollution_df_clean.columns.str.contains('^Unnamed')]
pollution_df_clean

,State,Date Local,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Units,O3 Mean,O3 1st Max Value,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,Arizona,2000-01-01,Parts per billion,19.041667,49.0,19,46,Parts per million,0.022500,0.040,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,Arizona,2000-01-02,Parts per billion,22.958333,36.0,19,34,Parts per million,0.013375,0.032,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,Wyoming,2016-03-30,Parts per billion,1.083333,1.6,9,1,Parts per million,0.043917,0.048,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,Wyoming,2016-03-31,Parts per billion,0.939130,1.3,5,1,Parts per million,0.045263,0.047,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0